<ion-header>
  <ion-navbar>
    <ion-title>
    我的家
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<div padding=50px>
  <ion-segment [(ngModel)]="pet">
    <ion-segment-button value="kittens">
      工程进度
    </ion-segment-button>
    <ion-segment-button value="puppies">
      档案
    </ion-segment-button>
     <ion-segment-button value="aaaa">
      售后
    </ion-segment-button>

  </ion-segment>
</div>

<div [ngSwitch]="pet">
  <ion-list *ngSwitchCase="'kittens'">
  <button ion-item *ngFor="let userOrder of userOrders"  (click)="toOrderInfo(userOrder)">
      <p>{{userOrder.name}}</p>
      <p>{{userOrder.addr}}</p>
  </button>
  </ion-list>

  <ion-list *ngSwitchCase="'puppies'">
    <button ion-item *ngFor="let userOrder of userOrders"  (click)="toOrderInfo(userOrder)">
        <p>{{userOrder.name}}</p>
        <p>{{userOrder.addr}}</p>
    </button>
  </ion-list>
</div>
</ion-content>
