<ion-header>
  <ion-navbar>
    <ion-title>
      我的家
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-segment [(ngModel)]="state">
      <ion-segment-button value="3">
        全部订单
      </ion-segment-button>
      <ion-segment-button value="1">
        进行中
      </ion-segment-button>
      <ion-segment-button value="2">
        已完结
      </ion-segment-button>
    </ion-segment>
  <div *ngFor="let userOrder of userOrders;let i=index;">
    <ion-item *ngIf="state==3?userOrder.state<state:userOrder.state==state">
      <ion-row>
        <ion-col>
          <p>{{userOrder.name}}</p>
        </ion-col>
      </ion-row>
      <p>
        <ion-row>
          <ion-col>{{userOrder.addr}}</ion-col>
          <ion-col>
            <p *ngIf="userOrder.state==2" style="color: red">已完结</p>
            <p *ngIf="userOrder.state==1" style="color:blue;">进行中</p>
          </ion-col>
        </ion-row>
      </p>



      <button ion-button color="primary" (click)="toOrderInfo(userOrder)">
     
            <ion-icon name="book"></ion-icon>
            进度
       
        </button>

      <button ion-button color="primary" (click)="toArchivesPage()">
      
            <ion-icon name="browsers"></ion-icon>
            档案
     
        </button>
      <button ion-button color="primary" (click)="toCustomerServicePage()" *ngIf="userOrder.state==2">
        
            <ion-icon name="call"></ion-icon>
            售后
                                                 
        </button>

    </ion-item>
  </div>


</ion-content>