page-user-list-orders-info {
img{
    width:70px;
    height: 70px;
}
ion-input{
    margin-left: 10px; 
}
.imgDiv{
    float: left;
    background-size: cover;
    margin-left: 8px;
} 
}

            
.cmt-list p {
    padding-top: 3px
}

.cmt-list span {
    color: #3b5384
}
.cmt-wrap {
    width: 100%;
    background-color: #eee
}
