<ion-header>
  <ion-navbar>
    <ion-title>{{userOrder.name?userOrder.name:'所有进度'}}</ion-title>
    <ion-buttons end  *ngIf="userInfo.userType=='user'">
      <button ion-button icon-only (click)="newSchedule()">
          <ion-icon  name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content id="content" overflow-scroll="false" page-user-list-orders-info>
  <div *ngFor="let orderSchedule of orderScheduleList;let i=index;">
    <ion-card id="ion{{i}}">
      <a name="ion{{i}}"></a>
      <ion-item>
        <ion-avatar item-start>
          <img [src]="userInfo.avatarPath">
        </ion-avatar>
        <ion-row (click)="toMineEditPage()">
          <ion-col>
            <h2>{{userInfo.name}}</h2>
          </ion-col>
          <ion-col> </ion-col>
          <ion-col>
            <p>{{orderSchedule.time}}</p>
          </ion-col>
        </ion-row>
        <p>{{userInfo.description}}</p>
      </ion-item>
      <ion-card-content>
        <p>{{orderSchedule.describe}}</p>
      </ion-card-content>

      <ion-item>
        <div padding-vertical>
          <page-select-pic [max]="6" [allowDelete]="false" [allowAdd]="false" [(fileObjList)]="orderSchedule.imgs"></page-select-pic>
        </div>
      </ion-item>

      <ion-row>
        <ion-col>
        </ion-col>
        <ion-col >
      <button ion-button icon-left clear small disabled="userInfo.userType=='user'">
        <ion-icon name="thumbs-up"></ion-icon>
        <div>已赞</div>
      </button>
        </ion-col>
        <ion-col> </ion-col>
        <ion-col> </ion-col>
        <ion-col >
          <button ion-button icon-left clear small (click)="toScheduleComplaint(orderSchedule.id)">
        <ion-icon name="text"></ion-icon>
        <div>投诉</div>
      </button>
        </ion-col>
        <ion-col center text-center>
        </ion-col>
      </ion-row>

      <div class="cmt-wrap">
        <div class="cmt-list" *ngFor="let re of orderSchedule.reply">
          <p><span>{{re.name}}</span>
            <span *ngIf="re.replyName" (click)="replyToName(i,re.replyName)">回复{{re.replyName}}</span>
            <span>: </span>{{re.content}}
          </p>
        </div>
        <div style="position: static;">
          <ion-input (change)="reply2(i,orderSchedule.id)" id="input{{i}}" [(ngModel)]="content" type="text" [placeholder]="myplaceholder"></ion-input>
          <!-- <button ion-button >发送</button> -->
        </div>
      </div>               
    </ion-card>
  </div>

  <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite())">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>