<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-title>{{userOrder&&userOrder.name?userOrder.name:'所有进度'}}</ion-title>
    <ion-buttons end *ngIf="userInfo && userInfo.userType=='user'">
      <button ion-button icon-only (click)="newSchedule()">
          <ion-icon  name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content id="content" overflow-scroll="false">
  <div *ngFor="let orderSchedule of orderScheduleList;let i=index;">
    <ion-card id="ion{{i}}">
      <a name="ion{{i}}"></a>
      <ion-item>
        <ion-avatar item-start>
          <img [src]="orderSchedule.img">
        </ion-avatar>
        <!-- (click)="toMineEditPage()" -->
        <ion-row>
          <ion-col>
            <h2>{{orderSchedule.name}}</h2>
          </ion-col>
          <ion-col> </ion-col>
          <ion-col>
            <p >{{orderSchedule.time}}&nbsp;&nbsp; <a *ngIf="userInfo && userInfo.userType=='user'" (click)="delJd(orderSchedule.id,i)"
                style="color:brown;">删除</a></p>
          </ion-col>
        </ion-row>
  
         <p>{{userInfo.describe}}</p> 
      </ion-item>
      <ion-card-content >
        <p  (click)="custJd(orderSchedule)"  style="color: #3b5384">{{orderSchedule.adress}}</p>
      </ion-card-content>

      <ion-item>
        <div padding-vertical>
          <page-select-pic [max]="6" [allowDelete]="false" [allowAdd]="false" [(fileObjList)]="orderSchedule.imgs"></page-select-pic>
        </div>
      </ion-item>

      <ion-row>
        <ion-col>
        </ion-col>
        <ion-col>
          <button (click)="dianZan(i,orderSchedule.id)" ion-button icon-left clear small>
        <ion-icon name="thumbs-up" ></ion-icon>
        <div>{{orderSchedule.isAdmire=='true'?'已赞':''}}</div>
      </button>
        </ion-col>
        <ion-col> </ion-col>
        <ion-col> </ion-col>
        <ion-col>
          <button ion-button icon-left clear small (click)="toScheduleComplaint(orderSchedule.id)">
        <ion-icon name="text"></ion-icon>
        <div *ngIf="orderSchedule.complaint_flag=='true'" ><p style="color:red;">投诉</p></div>
        <div *ngIf="orderSchedule.complaint_flag=='false'">投诉</div>        
     </button>                                                 
        </ion-col>                       
        <ion-col center text-center>
        </ion-col>
      </ion-row>

      <div class="cmt-wrap">
        <div class="cmt-list" *ngFor="let re of orderSchedule.reply;let i2=index;">
          <p id="p{{i2}}" (press)="delHf(re.update_user_id,re.id,i,i2)"><span>{{re.name}}</span>
            <span *ngIf="re.replyName" (click)="replyToName(i,re.replyName)">回复{{re.replyName}}</span>
            <span>: </span>{{re.content}}
          </p>
        </div>
        <div style="position: static;">
          <input style="width:80%;margin-left: 8px;margin-top: 2px;background-color:#FEFFFF;border-top-width: 0px;border-right-width: 0px; border-bottom-width: 1px;border-left-width: 0px;" (blur)="inpBlur(i)" (focus)="inpFocus(i)" id="input{{i}}" [(ngModel)]="content" type="text" [placeholder]="myplaceholder"/>
          <button (click)="reply2(i,orderSchedule.id)" [disabled]="content==''" >发送</button>
        </div>
      </div>
    </ion-card>
  </div>

  <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite())">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>