page-upload-picture {

    .file {
    position: relative;
    display: inline-block;
    background: #D0EEFF;

   

    text-decoration: none;

    background-image:url(/assets/img/sc.jpg); 
    align-content: center;

    vertical-align:middle;

    background-size: cover;
    }
}
