<ion-header>
  <ion-navbar>
    <ion-title>Main Navbar</ion-title>
  </ion-navbar>
  <ion-toolbar *ngIf="showToolbar">
    <ion-title>Dynamic Toolbar</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content (ionScroll)="funIonScroll()">
  <button ion-button (click)="toggleToolbar()">Toggle Toolbar</button>
</ion-content>
<ion-footer>
      <ion-input id="myinput"  (blur)="funBlur()" (focus)="funFocus($event)" placeholder="回复内容…" ></ion-input> 
 
</ion-footer>

<!-- <br/> <br/> <br/> <br/> <br/> <br/>
  <div style="  margin-top: 10px;
    margin-left: 10px;">
    <div>
      <textarea placeholder="333" rows="3"></textarea>
      <hr/>
    </div>

    <div class="imgBadge" txt="X"><img src="assets/img/avatar-ts-jessie.png" alt="" /></div>

    <div padding-vertical>
      <page-select-pic [max]="6" [(fileObjList)]="fileObjList"></page-select-pic>
    </div>
    <hr/>
  </div>

  <ion-icon class="icons-star" *ngFor="let star of stars;let n = index" name='star' [isActive]="star" (click)="toChange(n)"></ion-icon> -->