.file {
    position: relative;
    display: inline-block;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: #1E88C7;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
    background-image:url(/assets/img/jiahao.png); 
    align-content: center;
    height: 60px;
    width: 60px;
    vertical-align:middle;
    margin-top: 10px;
   // margin-left: 10px;
    background-size: cover;
   
}
.file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}
hr{
    
    width: 98%;
}

 textarea{       
    line-height: 20px;
    border: none; 
    width: 98%;
  
}


.imgBadge{
    width: 70px;
    height: 70px;
    color: #fff;
    position: relative;
    margin-top: 10px;
}
.imgBadge:after {
    content:attr(txt);
    color: #fff;
    text-align: center;
    line-height: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    top: -5px;
    right: -5px;       
}
.icons-star{
    font-size: 30px;
    color: red;
   }
.divafter {
    color: #fff;
    text-align: center;
    line-height: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    position: relative;
    top: -80px;
    right: -50px;           
}

.imgDiv .delete {
                position: absolute;
                top: 0px;
                right: 0px;
                width: 50px;
                height: 50px;
                display: none;
            }


ion-input{
    margin-left: 10px; 
}